extends /layouts/_layout

block content
	h1= title

	form#form-lang(action='/language', method='post')
		label= selectLangMsg
		select#select-lang(size=5)
			each lang in languages
				if lang.value == localeString
					option(value=lang.value,selected='selected') #{lang.text}
				else
					option(value=lang.value) #{lang.text}
			
		button#submit-lang(type='submit')= setLangMsg

block additional-js
	!= js('app.language_view')